#hero img {
  max-width: 100%;
  height: 600px;
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#hero h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 11em;
  text-shadow: -3px -3px 0 #000, 2.5px 2.5px 0 #666;
}

#hero p {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-align: center;
  position: fixed; /* Changed to fixed position */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Span the full width */
  width: 100%;
  z-index: 100; /* Ensure it stays on top of other elements */
  font-size: 1.5em;
  padding: 20px 15px;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #f50707;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ffffff;
}

section {
  padding: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#overlay-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

#join-button {
  background-color: #e74c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  background-image: url('Pictures/About.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 59%;
  border-top: 2px solid black; /* Usual thickness for top border */
  border-left: 8px solid black; /* Usual thickness for left border */
  border-right: 8px solid black; /* Usual thickness for right border */
  border-bottom: 8px solid black; /* Thicker bottom border */
  padding: 20px; /* Added padding to maintain spacing */
  box-sizing: border-box; /* Ensures padding is included in element's total width and height */
}
.about-text {
  flex: 1;
  padding-right: 0px;
  padding-left: 20px;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services {
  background-image: url('Pictures/Our Services.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 30% 40%;
  border-top: 8px solid black; /* Usual thickness for top border */
  border-left: 8px solid black; /* Usual thickness for left border */
  border-right: 8px solid black; /* Usual thickness for right border */
  border-bottom: 12px solid black; /* Thicker bottom border */
  padding: 20px;
  box-sizing: border-box;
}
.services-text {
  flex: 1;
  padding-right: 0px;
  padding-left: 20px;
}

.membership-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#membership {
  background-image: url('Pictures/memberships.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 73%;
  border-top: 8px solid black; /* Usual thickness for top border */
  border-left: 8px solid black; /* Usual thickness for left border */
  border-right: 8px solid black; /* Usual thickness for right border */
  border-bottom: 12px solid black; /* Thicker bottom border */
  padding: 20px;
  box-sizing: border-box;
}

#membership button {
  background-color: #e74c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.events-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#events {
  background-image: url('Pictures/Events.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: 45% 55%;
  border-top: 8px solid black;    /* Usual thickness for top border */
  border-left: 8px solid black;   /* Usual thickness for left border */
  border-right: 8px solid black;  /* Usual thickness for right border */
  border-bottom: 12px solid black; /* Thicker bottom border */
  padding: 20px; 
  box-sizing: border-box; 
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  background-image: url('Pictures/contact us.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 40%;
  border-top: 8px solid black;    /* Usual thickness for top border */
  border-left: 8px solid black;   /* Usual thickness for left border */
  border-right: 8px solid black;  /* Usual thickness for right border */
  border-bottom: 12px solid black; /* Thicker bottom border */
  padding: 20px; 
  box-sizing: border-box; 
}

/*... other styles... */

@media (max-width: 768px) {
  #hero h2 {
    font-size: 8em;
    margin-bottom: 5px;
  }

  #hero p {
    font-size: 4em;
  }
}

@media (max-width: 480px) {
  #hero h2 {
    font-size: 4em;
    margin-bottom: 5px;
  }

  #hero p {
    font-size: 1.5em;
  }
}

#about,
#services,
#membership,
#events,
#contact {
  height: 100vh;
}
